// --------------------------SASS mixins-------------------------------------
// @mixin float-right {
//   float: right;
// }

// --------------------------element styles-------------------------------------

p {
  font-size: 1.5em;
}
// --------------------------id styles-------------------------------------

#page-1 {
  background-color: tan;
  height: 100vh;
  color: white;
}

#page-2 {
  background-color: lightblue;
  height: 100vh;
}

#page-3 {
  background-color: lightgreen;
  height: 100vh;
}

#page-4 {
  background-color: #947594;
  height: 100vh;
}

// --------------------------class styles-------------------------------------

.default-padding {
  padding: 2%;
}

.site-title-logo {
  font-weight: bold;

  font-size: 6em;

}

.btn-group {
    // @include float-right;
}

.btn-outline-dark:hover {
  color: white;
}

.btn-outline-dark {
  border: 1px solid black;
}

.btn-secondary a {
  color: white;
  text-decoration: none;
}

.btn-secondary:hover {
  color: white;
  text-shadow: 0 0 1px black;
}

.main-pic {
  // max-width: 85%;
  border-radius: 100%;
}

.next-page-btn {
  font-size: 1.8em;
  background-color: rgba(0, 0, 0, 0.21);
}

.title {
  font-family: 'Italianno', cursive;
  // font-family: 'Amita', cursive;
  // font-family: 'Felipa', cursive;
}
